<div *ngIf="modelRunDef?.status == 'FINISHED'">
    <div class="row">
        <div class="col-md-3" *ngIf="showSidebar">
            <div class="sticky-top">
                <nav class="navbar bg-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" (click)="currentChart = 1">
                                <span jhiTranslate="jobShopApp.optimization.op1.graph1">graph1</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-{{chartColumnSize}}">
            <ng-container *ngIf="currentChart == 1">
                <h3><span jhiTranslate="jobShopApp.optimization.op1.graph1">graph1</span></h3>

                <h5 jhiTranslate="jobShopApp.optimization.op1.result"
                   translateValues="{time: '{{getTotalTime()}}'}" class="mt-3 mb-3"></h5>

                <chart type="line" [data]="charts.chart1.data"
                       [options]="charts.chart1.options" class="col-sm-12 mt-3"
                       [ngStyle]="{'height': charts.chart1.chartHeight + 'px'}"></chart>


                <p class="mt-3" *ngIf="!charts?.chart1?.data"><span jhiTranslate="jobShopApp.optimization.msg.loading">loading</span>
                </p>
            </ng-container>
        </div>
    </div>
</div>

<ng-container *ngIf="modelRunDef?.status != 'FINISHED'">
    <p class="ml-3" *ngIf="modelRunDef?.progress > 0 && modelRunDef?.progress < 100 && modelRunDef?.status != 'ERROR'">
        <span jhiTranslate="jobShopApp.optimization.msg.waitProcessFinish">waitProcessFinish</span>
    </p>
    <p class="ml-3" *ngIf="modelRunDef?.progress == 0">
        <span jhiTranslate="jobShopApp.optimization.msg.runProcessToResult">runProcessToResult</span>
    </p>
    <p class="ml-3" *ngIf="modelRunDef?.status == 'ERROR'">
        <span jhiTranslate="jobShopApp.optimization.msg.processError">processError</span>
        <br><br>
        <span *ngIf="modelRunDef?.comments">
            <b><span jhiTranslate="jobShopApp.optimization.msg.error">Error</span>:</b>
            <br>
            <span
                jhiTranslate="jobShopApp.optimization.msg.{{json.parse(modelRunDef?.comments).code | lowercase}}"></span>
            <br><br>

            <b><span jhiTranslate="jobShopApp.optimization.msg.type">type</span>:</b>
            <br>
            <span>{{json.parse(modelRunDef?.comments).type}}</span>
            <br><br>

            <ng-container *ngIf="json.parse(modelRunDef?.comments).message">
                <b><span jhiTranslate="jobShopApp.optimization.msg.message">message</span>:</b>
                <br>
                <span>{{json.parse(modelRunDef?.comments).message}}</span>
            </ng-container>
        </span>
    </p>
</ng-container>
