<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-model-config-heading" jhiTranslate="jobShopApp.modelConfig.home.createOrEditLabel">Create or edit a Model Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!modelConfig.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="modelConfig.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelConfig.param" for="field_param">Param</label>
                    <input type="text" class="form-control" name="param" id="field_param"
                        [(ngModel)]="modelConfig.param" required/>
                    <div [hidden]="!(editForm.controls.param?.dirty && editForm.controls.param?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.param?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelConfig.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="modelConfig.value" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelConfig.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="modelConfig.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelConfig.modelDef" for="field_modelDef">Model Def</label>
                    <select class="form-control" id="field_modelDef" name="modelDef" [(ngModel)]="modelConfig.modelDefId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="modelDefOption.id" *ngFor="let modelDefOption of modeldefs; trackBy: trackModelDefById">{{modelDefOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
