<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="modelConfig">
            <h2><span jhiTranslate="jobShopApp.modelConfig.detail.title">Model Config</span> {{modelConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jobShopApp.modelConfig.param">Param</span></dt>
                <dd>
                    <span>{{modelConfig.param}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelConfig.value">Value</span></dt>
                <dd>
                    <span>{{modelConfig.value}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelConfig.description">Description</span></dt>
                <dd>
                    <span>{{modelConfig.description}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelConfig.modelDef">Model Def</span></dt>
                <dd>
                    <div *ngIf="modelConfig.modelDefId">
                        <a [routerLink]="['/model-def', modelConfig.modelDefId, 'view']">{{modelConfig.modelDefId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/model-config', modelConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
