<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="task">
            <h2><span jhiTranslate="jobShopApp.task.detail.title">Task</span> {{task.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jobShopApp.task.name">Name</span></dt>
                <dd>
                    <span>{{task.name}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.task.description">Description</span></dt>
                <dd>
                    <span>{{task.description}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.task.processingTime">Processing Time</span></dt>
                <dd>
                    <span>{{task.processingTime}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.task.order">Order</span></dt>
                <dd>
                    <span>{{task.order}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.task.job">Job</span></dt>
                <dd>
                    <div *ngIf="task.jobId">
                        <a [routerLink]="['/job', task.jobId, 'view']">{{task.jobId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jobShopApp.task.machine">Machine</span></dt>
                <dd>
                    <div *ngIf="task.machineId">
                        <a [routerLink]="['/machine', task.machineId, 'view']">{{task.machineId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task', task.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
