<div>
    <h2 id="page-heading" class="mb-4">
        <span jhiTranslate="jobShopApp.modelRunDef.detail.title">Model Run Def</span> {{modelRunDef.id}} - {{modelRunDef.name}}
        <button type="submit" (click)="previousState()" class="btn btn-info float-right">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </h2>
</div>

<ngb-tabset>
    <ngb-tab id="generalTab">
        <ng-template ngbTabTitle><span jhiTranslate="jobShopApp.modelRunDef.detail.generalInformation"></span></ng-template>
        <ng-template ngbTabContent>
            <br>
            <form>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="run-date"><b><span jhiTranslate="jobShopApp.modelRunDef.runDate">Run Date</span></b></label>
                        <input type="text" class="form-control" id="run-date" [(ngModel)]="modelRunDef.runDate" name="run-date"  disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="start-time"><b><span jhiTranslate="jobShopApp.modelRunDef.startTime">Start Time</span></b></label>
                        <input type="text" class="form-control" id="start-time" [(ngModel)]="modelRunDef.startTime" name="start-time" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="language"><b><span jhiTranslate="jobShopApp.modelRunDef.language">Language</span></b></label>
                        <input type="text" class="form-control" id="language" [(ngModel)]="modelRunDef.language" name="language"  disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="solver"><b><span jhiTranslate="jobShopApp.modelRunDef.solver">Solver</span></b></label>
                        <input type="text" class="form-control" id="solver" [(ngModel)]="modelRunDef.solver" name="solver" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="obj-function"><b><span jhiTranslate="jobShopApp.modelRunDef.objFunction">FO</span></b></label>
                        <input type="text" class="form-control text-uppercase" id="obj-function" [(ngModel)]="modelRunDef.objFunction" name="obj-function" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="status"><b>Estado</b></label>
                        <input type="text" class="form-control" id="status" [(ngModel)]="modelRunDef.status" name="status" disabled>
                    </div>
                </div>
            </form>
        </ng-template>
    </ngb-tab>

    <ngb-tab id="resultsTab">
        <ng-template ngbTabTitle><span jhiTranslate="jobShopApp.modelRunDef.detail.results"></span></ng-template>
        <ng-template ngbTabContent>
            <br>
            <jhi-optimization-point-1-charts [(modelRunDef)]="modelRunDef" [change]="modelRunDefChange" [optimizationPoint1Input]="optimizationPoint1Input"></jhi-optimization-point-1-charts>
        </ng-template>
    </ngb-tab>

</ngb-tabset>
