<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobShopApp.modelRunDef.home.title">Model Run Defs</span>
    </h2>
    <jhi-alert></jhi-alert>
    <!--<br/>-->

    <!--<div class="form-group row">-->
        <!--<div class="col-md-6">-->
            <!--<label><b><span jhiTranslate="jobShopApp.modelRunDef.runDate">Date</span></b></label>-->
            <!--<div class="input-group mb-3">-->
                <!--<div class="input-group-prepend">-->
                    <!--<span class="input-group-text" id="basic-addon2" (click)="d.toggle()">-->
                        <!--<fa-icon [icon]="'calendar-alt'"></fa-icon>-->
                    <!--</span>-->
                <!--</div>-->
                <!--<input class="form-control" [value]="range_date"/>-->
                <!--<input class="form-control d-none" placeholder="mm/dd/yyyy"-->
                       <!--name="dp" [(ngModel)]="selectedDate"-->
                       <!--ngbDatepicker-->
                       <!--[autoClose]="false" [displayMonths]="2" #d="ngbDatepicker" (dateSelect)="onDateSelection(d)"-->
                       <!--[dayTemplate]="t" [navigation]="'arrows'" [outsideDays]="'collapsed'">-->
                <!--<ng-template #t let-date="date" let-focused="focused">-->
                  <!--<span class="custom-day"-->
                        <!--[class.focused]="focused"-->
                        <!--[class.range]="isRange(date)"-->
                        <!--[class.faded]="isHovered(date) || isInside(date)"-->
                        <!--(mouseenter)="hoveredDate = date"-->
                        <!--(mouseleave)="hoveredDate = null">-->
                    <!--{{ date.day }}-->
                  <!--</span>-->
                <!--</ng-template>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <hr>

    <div class="table-responsive" *ngIf="modelRunDefs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="name"><span jhiTranslate="jobShopApp.modelRunDef.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="objFunction"><span jhiTranslate="jobShopApp.modelRunDef.objFunction">Obj Function</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="runDate"><span jhiTranslate="jobShopApp.modelRunDef.runDate">Run Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="startTime"><span jhiTranslate="jobShopApp.modelRunDef.startTime">Start Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="endTime"><span jhiTranslate="jobShopApp.modelRunDef.resultStatus">Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="status"><span jhiTranslate="jobShopApp.modelRunDef.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let modelRunDef of modelRunDefs; trackBy: trackId;let index = index;">
                <td>
                    <button type="button" class="btn btn-secondary btn-sm">{{modelRunDef.name}}</button>
                </td>
                <td><span jhiTranslate="jobShopApp.modelRunDef.objFunctions.{{modelRunDef.objFunction}}"></span></td>
                <td>{{modelRunDef.runDate | localizedDate:'mediumDate'}}</td>
                <td>{{modelRunDef.startTime}}</td>
                <td>{{getResultTime(modelRunDef)}} <span jhiTranslate="jobShopApp.modelRunDef.minutes"></span></td>
                <td>
                    <button *ngIf="modelRunDef.status=='FINISHED'" type="button" class="btn btn-sm btn-outline-success" jhiTranslate="{{'jobShopApp.Status.' + modelRunDef.status}}">{{modelRunDef.status}}</button>
                    <button *ngIf="modelRunDef.status=='RUNNING'" type="button" class="btn btn-sm btn-outline-warning" jhiTranslate="{{'jobShopApp.Status.' + modelRunDef.status}}">{{modelRunDef.status}}</button>
                    <button *ngIf="modelRunDef.status=='READY'" type="button" class="btn btn-sm btn-outline-info" jhiTranslate="{{'jobShopApp.Status.' + modelRunDef.status}}">{{modelRunDef.status}}</button>
                    <button *ngIf="modelRunDef.status=='ERROR'"  type="button" class="btn btn-sm btn-outline-danger" jhiTranslate="{{'jobShopApp.Status.' + modelRunDef.status}}">{{modelRunDef.status}}</button>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/model-run-def', modelRunDef.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'model-run-def/'+ modelRunDef.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
