<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-model-run-def-heading" jhiTranslate="jobShopApp.modelRunDef.home.createOrEditLabel">Create or edit a Model Run Def</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!modelRunDef.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="modelRunDef.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="modelRunDef.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.language" for="field_language">Language</label>
                    <select class="form-control" name="language" [(ngModel)]="modelRunDef.language" id="field_language"  required>
                        <option value="GAMS">{{'jobShopApp.Language.GAMS' | translate}}</option>
                        <option value="PYOMO">{{'jobShopApp.Language.PYOMO' | translate}}</option>
                        <option value="ORTOOLS">{{'jobShopApp.Language.ORTOOLS' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.language?.dirty && editForm.controls.language?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.language?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.solver" for="field_solver">Solver</label>
                    <select class="form-control" name="solver" [(ngModel)]="modelRunDef.solver" id="field_solver"  required>
                        <option value="CPLEX">{{'jobShopApp.Solver.CPLEX' | translate}}</option>
                        <option value="GUROBI">{{'jobShopApp.Solver.GUROBI' | translate}}</option>
                        <option value="GLPK">{{'jobShopApp.Solver.GLPK' | translate}}</option>
                        <option value="CBC">{{'jobShopApp.Solver.CBC' | translate}}</option>
                        <option value="CPSAT">{{'jobShopApp.Solver.CPSAT' | translate}}</option>
                        <option value="GLOP">{{'jobShopApp.Solver.GLOP' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.solver?.dirty && editForm.controls.solver?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.solver?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                        [(ngModel)]="modelRunDef.version" required/>
                    <div [hidden]="!(editForm.controls.version?.dirty && editForm.controls.version?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.version?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.version?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.objFunction" for="field_objFunction">Obj Function</label>
                    <input type="text" class="form-control" name="objFunction" id="field_objFunction"
                        [(ngModel)]="modelRunDef.objFunction" required/>
                    <div [hidden]="!(editForm.controls.objFunction?.dirty && editForm.controls.objFunction?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.objFunction?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.runDate" for="field_runDate">Run Date</label>
                    <div class="input-group">
                        <input id="field_runDate" type="text" class="form-control" name="runDate" ngbDatepicker  #runDateDp="ngbDatepicker" [(ngModel)]="modelRunDef.runDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="runDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.startTime" for="field_startTime">Start Time</label>
                    <input type="text" class="form-control" name="startTime" id="field_startTime"
                        [(ngModel)]="modelRunDef.startTime" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.endTime" for="field_endTime">End Time</label>
                    <input type="text" class="form-control" name="endTime" id="field_endTime"
                        [(ngModel)]="modelRunDef.endTime" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="modelRunDef.status" id="field_status" >
                        <option value="READY">{{'jobShopApp.Status.READY' | translate}}</option>
                        <option value="RUNNING">{{'jobShopApp.Status.RUNNING' | translate}}</option>
                        <option value="FINISHED">{{'jobShopApp.Status.FINISHED' | translate}}</option>
                        <option value="ERROR">{{'jobShopApp.Status.ERROR' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.progress" for="field_progress">Progress</label>
                    <input type="number" class="form-control" name="progress" id="field_progress"
                        [(ngModel)]="modelRunDef.progress" min="0" jhiMin="0" max="100" jhiMax="100"/>
                    <div [hidden]="!(editForm.controls.progress?.dirty && editForm.controls.progress?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.progress?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.progress?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.progress?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.dataSetInput" for="field_dataSetInput">Data Set Input</label>
                    <input type="text" class="form-control" name="dataSetInput" id="field_dataSetInput"
                        [(ngModel)]="modelRunDef.dataSetInput" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.dataSetResult" for="field_dataSetResult">Data Set Result</label>
                    <input type="text" class="form-control" name="dataSetResult" id="field_dataSetResult"
                        [(ngModel)]="modelRunDef.dataSetResult" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.userResult" for="field_userResult">User Result</label>
                    <div>
                        <div *ngIf="modelRunDef.userResult" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(modelRunDef.userResultContentType, modelRunDef.userResult)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{modelRunDef.userResultContentType}}, {{byteSize(modelRunDef.userResult)}}</span>
                            <button type="button" (click)="modelRunDef.userResult=null;modelRunDef.userResultContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_userResult" (change)="setFileData($event, modelRunDef, 'userResult', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="userResult" id="field_userResult"
                        [(ngModel)]="modelRunDef.userResult" />
                    <input type="hidden" class="form-control" name="userResultContentType" id="field_userResultContentType"
                        [(ngModel)]="modelRunDef.userResultContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.otherResult" for="field_otherResult">Other Result</label>
                    <div>
                        <div *ngIf="modelRunDef.otherResult" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(modelRunDef.otherResultContentType, modelRunDef.otherResult)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{modelRunDef.otherResultContentType}}, {{byteSize(modelRunDef.otherResult)}}</span>
                            <button type="button" (click)="modelRunDef.otherResult=null;modelRunDef.otherResultContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_otherResult" (change)="setFileData($event, modelRunDef, 'otherResult', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="otherResult" id="field_otherResult"
                        [(ngModel)]="modelRunDef.otherResult" />
                    <input type="hidden" class="form-control" name="otherResultContentType" id="field_otherResultContentType"
                        [(ngModel)]="modelRunDef.otherResultContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                        [(ngModel)]="modelRunDef.comments" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelRunDef.user" for="field_user">User</label>
                    <input type="text" class="form-control" name="user" id="field_user"
                        [(ngModel)]="modelRunDef.user" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
