<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobShopApp.modelDef.home.title">Model Defs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-model-def" [routerLink]="['/model-def/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobShopApp.modelDef.home.createLabel">
            Create new Model Def
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="modelDefs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="name"><span jhiTranslate="jobShopApp.modelDef.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="language"><span jhiTranslate="jobShopApp.modelDef.language">Language</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="solver"><span jhiTranslate="jobShopApp.modelDef.solver">Solver</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currentVersion"><span jhiTranslate="jobShopApp.modelDef.currentVersion">Current Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="jobShopApp.modelDef.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let modelDef of modelDefs ;trackBy: trackId">
                <td>{{modelDef.name}}</td>
                <td jhiTranslate="{{'jobShopApp.Language.' + modelDef.language}}">{{modelDef.language}}</td>
                <td jhiTranslate="{{'jobShopApp.Solver.' + modelDef.solver}}">{{modelDef.solver}}</td>
                <td>{{modelDef.currentVersion}}</td>
                <td>{{modelDef.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/model-def', modelDef.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/model-def', modelDef.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'model-def/'+ modelDef.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
