<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-model-def-heading" jhiTranslate="jobShopApp.modelDef.home.createOrEditLabel">Create or edit a Model Def</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!modelDef.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="modelDef.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelDef.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="modelDef.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelDef.language" for="field_language">Language</label>
                    <select class="form-control" name="language" [(ngModel)]="modelDef.language" id="field_language"  required>
                        <option value="GAMS">{{'jobShopApp.Language.GAMS' | translate}}</option>
                        <option value="PYOMO">{{'jobShopApp.Language.PYOMO' | translate}}</option>
                        <option value="ORTOOLS">{{'jobShopApp.Language.ORTOOLS' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.language?.dirty && editForm.controls.language?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.language?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelDef.solver" for="field_solver">Solver</label>
                    <select class="form-control" name="solver" [(ngModel)]="modelDef.solver" id="field_solver"  required>
                        <option value="CPLEX">{{'jobShopApp.Solver.CPLEX' | translate}}</option>
                        <option value="GUROBI">{{'jobShopApp.Solver.GUROBI' | translate}}</option>
                        <option value="GLPK">{{'jobShopApp.Solver.GLPK' | translate}}</option>
                        <option value="CBC">{{'jobShopApp.Solver.CBC' | translate}}</option>
                        <option value="CPSAT">{{'jobShopApp.Solver.CPSAT' | translate}}</option>
                        <option value="GLOP">{{'jobShopApp.Solver.GLOP' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.solver?.dirty && editForm.controls.solver?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.solver?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelDef.currentVersion" for="field_currentVersion">Current Version</label>
                    <input type="number" class="form-control" name="currentVersion" id="field_currentVersion"
                        [(ngModel)]="modelDef.currentVersion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobShopApp.modelDef.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="modelDef.description" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
