<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="modelVersion">
            <h2><span jhiTranslate="jobShopApp.modelVersion.detail.title">Model Version</span> {{modelVersion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jobShopApp.modelVersion.version">Version</span></dt>
                <dd>
                    <span>{{modelVersion.version}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelVersion.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{modelVersion.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelVersion.srcPath">Src Path</span></dt>
                <dd>
                    <span>{{modelVersion.srcPath}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelVersion.srcContent">Src Content</span></dt>
                <dd>
                    <span>{{modelVersion.srcContent}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelVersion.description">Description</span></dt>
                <dd>
                    <span>{{modelVersion.description}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelVersion.modelDef">Model Def</span></dt>
                <dd>
                    <div *ngIf="modelVersion.modelDefId">
                        <a [routerLink]="['/model-def', modelVersion.modelDefId, 'view']">{{modelVersion.modelDefId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/model-version', modelVersion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
