<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobShopApp.modelVersion.home.title">Model Versions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-model-version" [routerLink]="['/model-version/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobShopApp.modelVersion.home.createLabel">
            Create new Model Version
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="modelVersions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span jhiTranslate="jobShopApp.modelVersion.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="jobShopApp.modelVersion.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="srcPath"><span jhiTranslate="jobShopApp.modelVersion.srcPath">Src Path</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="srcContent"><span jhiTranslate="jobShopApp.modelVersion.srcContent">Src Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="jobShopApp.modelVersion.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modelDefId"><span jhiTranslate="jobShopApp.modelVersion.modelDef">Model Def</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let modelVersion of modelVersions ;trackBy: trackId">
                <td><a [routerLink]="['/model-version', modelVersion.id, 'view' ]">{{modelVersion.id}}</a></td>
                <td>{{modelVersion.version}}</td>
                <td>{{modelVersion.creationDate | date:'mediumDate'}}</td>
                <td>{{modelVersion.srcPath}}</td>
                <td>{{modelVersion.srcContent}}</td>
                <td>{{modelVersion.description}}</td>
                <td>
                    <div *ngIf="modelVersion.modelDefId">
                        <a [routerLink]="['../model-def', modelVersion.modelDefId , 'view' ]" >{{modelVersion.modelDefId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/model-version', modelVersion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/model-version', modelVersion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'model-version/'+ modelVersion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
