<div>
    <h2>Acerca de <strong><span jhiTranslate="home.title"></span></strong></h2>
    <br>
    <div class="row">
    <div class="col-sm-12">
        <p class="lead">
            <strong><span jhiTranslate="home.title"></span>, es una herramienta para planificar el reparto de tareas entre diferentes máquinas en un orden específico.</strong>
        </p>
        <blockquote class="blockquote">
            <p>
            El problema que resuelve esta herramienta, consiste en multiples trabajos que deben ser procesados por varias máquinas.
            Cada trabajo está compuesto por una secuencia de tareas, que deben ser ejecutadas en cierto orden, y en una máquina determinada.
            </p>

            <p>
            El problema posee una serie de restricciones:
            </p>

            <ol>
                <li>Una tarea no puede comenzar hasta que la tarea previa del trabajo en cuestión se haya completado.</li>
                <li>Una máquina puede procesar una tarea a la vez.</li>
                <li>Una tarea, una vez comenzada, debe ejecutarse hasta su finalización.</li>
            </ol>

            <p>
                Para lograr ejecutar el <strong>Planificador</strong>, se deben cumplir los siguientes pasos:
            </p>
            <ol>
                <li>Cargar información básica de las máquinas. [Entidades -> Máquina]</li>
                <li>Cargar los trabajos a realizar. [Entidades -> Trabajo]</li>
                <li>Detallar las tareas, indicando el orden  que lleva dentro de un trabajo particular, tiempo de proceso, y máquina en la cual se ejecutará. [Entidades -> Tarea]</li>
                <li><strong>Ejecutar el Optimization Point, seleccionando la funcion objetivo. [Task Planning]</strong>.
                    <br>En este paso, se pueden editar ciertos parametros como cambiar la asignación de máquina a una tarea, cambiar el orden de una tarea dentro de un trabajo o modificar el tiempo de proceso de una tarea.</li>
            </ol>
            <p>
                El resultado se verá en una grafica, donde se presenta cada tarea como un bloque a lo largo de un eje temporal, indicando la maquina que la lleva a cabo.
            </p>

        </blockquote>
        <br>
        <p>
            Esta aplicación ha sido desarrollada por el <a href="http://www.ingar.santafe-conicet.gov.ar/">Instituto INGAR (CONICET - UTN)</a>.
        </p>
    </div>

</div>
</div>
