<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="modelObjFunction">
            <h2><span jhiTranslate="jobShopApp.modelObjFunction.detail.title">Model Obj Function</span> {{modelObjFunction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jobShopApp.modelObjFunction.code">Code</span></dt>
                <dd>
                    <span>{{modelObjFunction.code}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelObjFunction.name">Name</span></dt>
                <dd>
                    <span>{{modelObjFunction.name}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelObjFunction.description">Description</span></dt>
                <dd>
                    <span>{{modelObjFunction.description}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.modelObjFunction.modelDef">Model Def</span></dt>
                <dd>
                    <div *ngIf="modelObjFunction.modelDefId">
                        <a [routerLink]="['/model-def', modelObjFunction.modelDefId, 'view']">{{modelObjFunction.modelDefId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/model-obj-function', modelObjFunction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
