<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobShopApp.modelObjFunction.home.title">Model Obj Functions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-model-obj-function" [routerLink]="['/model-obj-function/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobShopApp.modelObjFunction.home.createLabel">
            Create new Model Obj Function
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="modelObjFunctions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="code"><span jhiTranslate="jobShopApp.modelObjFunction.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="jobShopApp.modelObjFunction.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="jobShopApp.modelObjFunction.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modelDefId"><span jhiTranslate="jobShopApp.modelObjFunction.modelDef">Model Def</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let modelObjFunction of modelObjFunctions ;trackBy: trackId">
                <td>{{modelObjFunction.code}}</td>
                <td>{{modelObjFunction.name}}</td>
                <td>{{modelObjFunction.description}}</td>
                <td>
                    <div *ngIf="modelObjFunction.modelDefId">
                        <a [routerLink]="['../model-def', modelObjFunction.modelDefId , 'view' ]" >{{modelObjFunction.modelDefId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/model-obj-function', modelObjFunction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/model-obj-function', modelObjFunction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'model-obj-function/'+ modelObjFunction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
