<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="machine">
            <h2><span jhiTranslate="jobShopApp.machine.detail.title">Machine</span> {{machine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jobShopApp.machine.serialNumber">Serial Number</span></dt>
                <dd>
                    <span>{{machine.serialNumber}}</span>
                </dd>
                <dt><span jhiTranslate="jobShopApp.machine.model">Model</span></dt>
                <dd>
                    <span>{{machine.model}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/machine', machine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
