<form name="sampleForm" (ngSubmit)="optimizationPoint1Execute()">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar ejecuci&oacute;n del Optimization Point #1</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Est&aacute; seguro de ejecutar el generador de patrones?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-gear"></span>&nbsp;<span>Ejecutar</span>
        </button>
    </div>
</form>
