<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title"></h1>
        <p class="lead" jhiTranslate="home.subtitle"></p>

        <div [ngSwitch]="isAuthenticated()">

            <div class="alert alert-warning" *ngSwitchCase="false">
                <button class="btn btn-primary" (click)="login()" [ngbTooltip]="inTooltip" placement="top">
                    <fa-icon [icon]="'sign-in-alt'"></fa-icon>
                    <span jhiTranslate="global.messages.info.authenticated.link">sign in</span>
                    <ng-template #inTooltip><span jhiTranslate="global.messages.info.authenticated.defAccounts">defAccounts</span>
                    </ng-template>
                </button>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.demo.noaccount">You don't have an account yet?</span>&nbsp;
            </div>
        </div>
        <button routerLink="about" class="btn btn-primary mt-2">
            <span jhiTranslate="global.messages.info.learnMore">Learn more</span>
        </button>

    </div>
</div>
